/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
h1 {
  font-family: "Playfair Display", serif;
  background-color: yellow;
}

p {
  font-family: "Poppins", sans-serif;
}
